:root {

    --background: repeating-radial-gradient(ellipse 80% 100% at 48% 63%,
            #c7eafd 0%,
            #e8198b 100%);
    --hello-kitty: white;
    --geel: hsl(56, 100%, 82%);
    --roze: pink;
    --rood: red;
    --blauw: blue;
    --zwart: black;
    /* actieve kleur standaard ingesteld op roze, dit variabel wordt later aangeroepen voor de container queries */
    --active-color: roze;
}



body {
    display: flex;

    background: repeating-radial-gradient(ellipse 80% 100% at 48% 63%,
            #c7eafd 0%,
            #e8198b 100%);

    height: 100vh;

    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: clip;

}


h1 {
    position: fixed;
    top: 2em;
    color: whitesmoke;
    font-family: "Caprasimo";
    text-shadow:
        1px 1px 2px royalblue,
        0 0 2em blueviolet,
        0 0 0.2em violet;
    font-weight: 400;
    font-size: 2em;
}

/* control panel */
body>section:nth-of-type(1) {
    /* background-color: blue; */
    position: absolute;
    left: 4vmin;
    bottom: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    padding: 0;


}

@media (min-width: 575px) {
    body>section:nth-of-type(1) {
        width: 8em;
        background-color: white;
    }

    body>section:nth-of-type(1) input {
        width: 7em;
        background-color: #e8198b;
    }

    body>section:nth-of-type(3) li:nth-of-type(1) {
        width: 12em;
        height: 12em;
    }

    body>section:nth-of-type(3) li:nth-of-type(2) {
        width: 12em;
        height: 12em;
    }

    h1 {
        font-size: 3em;
    }

}


section:nth-of-type(1) input {

    appearance: none;
    font: inherit;
    margin: 0;

    width: 2em;
    height: 2em;
    margin: .5em;
    cursor: pointer;

    /* nesting, wanneer de input checked is komt er een box shadow */
    &:checked {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

}


/* aangeven dat de achtergrond kleur veranderd als de input veranderd, 
variabel opnieuw aangesproken zodat dit werkt met de container/ style queries 
en ik laat weten wat waarbij hoort*/
body>section:nth-of-type(1) {
    input[value="geel"] {
        background-color: var(--geel);
        --active-color: geel;
    }

    input[value="roze"] {
        background-color: var(--roze);
        --active-color: roze;
    }


    input[value="rood"] {
        background-color: var(--rood);
    }

    input[value="blauw"] {
        background-color: var(--blauw);
    }

}


/* jurkje */
article>div>div {
    position: absolute;
    width: 65%;
    height: 9em;
    left: 50%;
    translate: -50% 0;
    border-radius: 40%;
    background-color: var(--blauw);
    z-index: 1;


    -webkit-clip-path:
        polygon(20% 0%, 80% 0%, 100% 84%, 0 84%);
    clip-path:
        polygon(20% 0%, 80% 0%, 100% 84%, 0 84%);

    /* Bron: https://easycodetools.com/tool/cssclippath-generator */
}


/* variable veranderd en krijgt een waarde */
html:has(input[value="geel"]:checked) article>div>div {
    background-color: var(--geel);
}

main:has(input[value="roze"]:checked) {
    --active-color: roze;
}

html:has(input[value="rood"]:checked) {
    --active-color: rood;
}

html:has(input[value="geel"]:checked) {
    --active-color: geel;
}

html:has(input[value="blauw"]:checked) {
    --active-color: blauw;
}

/* jurkje veranderd van kleur als deze input is veranderd */

html:has(input[value="roze"]:checked) article>div>div {
    background-color: var(--roze);
    /* --active-color: roze;  */
}

html:has(input[value="rood"]:checked) article>div>div {
    background-color: var(--rood);
    /* --active-color: rood; */
}

html:has(input[value="blue"]:checked) article>div>div {
    /* background-color: var(--blauw); */
    /* --active-color: blauw ;  */
}

@container style(--active-color: blauw) {
    article > div > div{
        background-color: blue;
    }
}

/* ///////////////////////*
style queries regelen
netter maken, structuur 
wereldbol  
////////////////////*/

/* container queries */
/* variabel is aangemaakt in de root en wordt hier 
aangesproken wanneer deze veranderd */
@container style(--active-color: geel) {
    article {
        animation: jump 0.5s infinite;
        /* animatie voor springen */
    }

    h1 {
        color: red;
    }

}



@container style(--active-color: roze) {
    label {
        animation: happy .8s forwards
    }

}

/* wanneer de actieve kleur in de eerder aangesproken variable blauw is, 
geeft hij hier aan welke actie er uitgevoerd gaat worden.  */
@container style(--active-color: blauw) {

    h1 {
        color: black;
    }

}

@container style(--active-color: rood) {



    /* keyframes */
    @keyframes jump {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-2em);
        }
    }

    @keyframes happy {

        0%,
        100% {
            transform: rotateX(0deg);
        }

        50% {
            transform: rotateX(180deg);
        }
    }

}





/* hele hello kitty  */
article {
    /* --active-color: var(--blauw); */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17em;

    div {
        /* container-type: inline-size; */
        width: 100%;
        flex: 1;
    }

}


/* hoofd */
article>div>section:nth-of-type(1) {
    width: 100%;
    height: 180px;
    border-radius: 50% / 60%;
    background: var(--hello-kitty);
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    /* oren */
    header,
    nav {
        width: 100px;
        height: 90px;
        background-color: white;
        position: absolute;
        top: -20%;
        z-index: -1;
    }

    /* linkeroor */
    header {
        left: 0%;
        transform: rotate(-20deg);

        border-radius: 53% 46% 15% 10% / 86% 88% 13% 13%;
        box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);
    }

    /* rechteroor */
    nav {
        right: 0%;
        transform: rotate(20deg);
        border-radius: 53% 46% 15% 10% / 86% 88% 13% 13%;
        box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);
    }

    /* ogen */
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 50%;

        /* ogen */
        li {
            width: 20px;
            height: 30px;
            background: black;
            border-radius: 50%;
        }
    }

    /* neusje */
    >section:nth-of-type(1) {
        width: 37px;
        height: 19px;
        background: gold;
        position: absolute;
        top: 60%;
        border-radius: 50%;

    }

    /* snorharen */
    >section:nth-of-type(2) {
        position: absolute;
        top: 60%;
        display: flex;
        width: 100%;
        height: 100%;

        >section:nth-of-type(1) {
            left: -10%;
            height: 100%;
            position: absolute;

            span:nth-of-type(1) {
                top: 0;
            }

            span:nth-of-type(2) {
                top: 10%;
                transform: rotate(-5deg);
            }

            span:nth-of-type(3) {
                top: 20%;

                transform: rotate(-10deg);
            }

        }

        >section:nth-of-type(2) {
            position: absolute;
            height: 100%;
            right: 10%;
            /* background-color: orange; */

            span:nth-of-type(1) {
                top: 0%;
            }

            span:nth-of-type(2) {
                top: 10%;
                transform: rotate(5deg);
            }

            span:nth-of-type(3) {
                top: 20%;
                transform: rotate(10deg);
                /* right: 20%; */
            }
        }


        span {

            width: 45px;
            height: 3px;
            background-color: black;
            position: absolute;


        }

    }

    /* strik */
    aside {
        position: absolute;
        top: -5%;
        right: 10%;
        width: 30px;
        height: 40px;
        background-color: red;
        border-radius: 50%;

        /* box-shadow: inset 0 -4px 6px rgb(225, 105, 105); */

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 55px;
            height: 60px;
            background: red;
            box-shadow: inset inset 0 -4px 6px rgb(225, 105, 105)2;
        }

        &::before {
            left: -150%;
            top: -40%;
            transform: rotate(8deg);
            border-radius: 21% 70% 64% 20% / 40% 53% 45% 38%;

        }

        &::after {
            right: -150%;
            top: -10%;
            transform: rotate(15deg);
            border-radius: 69% 16% 36% 58% / 52% 22% 28% 44%
        }

    }


}



/* lichaam */
article>div>section:nth-of-type(2) {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 50%;
    height: 120px;

    background: white;
    border-radius: 30% 30% 0 0;
    /* border-radius:30% 28% 10% 10% / 73% 76% 10% 10% ;  */
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);


    /* voeten */
    footer {
        position: absolute;
        /* top:-100%; */
        bottom: -30%;
        left: 10%;
        width: 40%;
        height: 55px;
        /* z-index: -1; */
        background-color: white;
        border-radius: 0 0 30% 30%;
        box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);


    }

    footer:nth-of-type(2) {
        left: 50%;
    }

    /* armen */
    label {
        position: absolute;
        width: 20%;
        height: 70px;
        bottom: 20%;
        background-color: white;
    }

    label:nth-of-type(1) {
        left: -20%;
        border-radius: 75% 0% 10% 46% / 85% 81% 10% 24%;
        box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
    }

    label:nth-of-type(2) {
        right: -20%;
        border-radius: 0% 58% 71% 0% / 10% 54% 24% 0%;
        box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
    }

}


/* wereldbol */
body>div:nth-of-type(1) {
    width: 250px;
    height: 250px;

    margin: auto;

    position: absolute;
    bottom: -10em;


    background-color: white;
    border-radius: 50%;
    /* shaduw voor het 3d effect */
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px green,
        inset -20px 0 60px blue,
        inset 20px 0 300px green,
        inset -20px 0 300px blue,
        0 0 50px #fff,
        -10px 0 60px green,
        10px 0 60px blue;

}

/* checkbox voor light en dark */
body>section:nth-of-type(2) {
    position: absolute;
    right: 2em;
    top: 2em;

}

/* styling van slider */
body>section:nth-of-type(2) input {
    /* standaardstijl verwijderen en aanpassen */
    appearance: none;
    font: inherit;
    margin: 0;

    width: 7em;
    height: 3em;
    padding: .25em;

    background-image: linear-gradient(to left,
            rgb(108, 194, 223) 50%,
            midnightblue 0);

    background-size: calc(200% - 3em) 100%;
    background-position: right;
    border-radius: 1em;
    box-shadow: inset .25em .25em .25em .1em #0009;

    transition: .2s ease-in;

}

body>section:nth-of-type(2) input:checked {

    background-position: left;
    justify-content: right;
}

/* styling slider */
body>section:nth-of-type(2) input::after {
    content: "";
    display: block;
    height: 100%;

    aspect-ratio: 1;
    background-color: gold;
    background-image: radial-gradient(gold,
            yellow);
    border-radius: 2em;

    box-shadow:
        inset -.25em -.25em .25em gold;

    transition: .2s ease-in;

}

body>section:nth-of-type(2) input:checked::after {
    translate: 4em;
}


/* aanspreken dat de achtergrond veranderd als de slider van dag naar nacht gaat */
body:has(input[type="checkbox"]:checked) {

    --background: radial-gradient(ellipse 80% 91% at 51% 76%,
            #dbdcd7 0%, #dddcd7 24%,
            #e2c9cc 30%, #e7627d 46%,
            #b8235a 59%, #801357 71%,
            #3d1635 84%, #1c1a27 100%);


    background-image: var(--background);
    transition: 2s ease-in;

    h1 {
        color: black;
        text-shadow:
            1px 1px 2px rgb(109, 31, 172),
            0 0 2em rgb(30, 177, 121),
            0 0 0.2em rgb(143, 212, 237);
        z-index: 1;
    }


    section:nth-of-type(3) li:nth-of-type(1) {
        display: none;
        
    }

    section:nth-of-type(3) li:nth-of-type(2) {
        display: flex;
        animation: fadeIn .5s ease;
    }

}

/* keyframes voor de animatie  */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* zon en maan */
body>section:nth-of-type(3) li {
    position: absolute;
    width: 6em;
    height: 6em;
    border-radius: 50%;

}

/* zonnetje */
body>section:nth-of-type(3) li:nth-of-type(1) {

    top: 2em;
    left: 2em;

    background: radial-gradient(circle 500px at 50% 50%,
            #F09819 0%,
            #EDDE5D 22%);
    box-shadow: 0 0 30px white;
 
    list-style-type: none;
    border-radius: 50%;
    animation: none;
    z-index: 1;
}


/* maantje */
body>section:nth-of-type(3) li:nth-of-type(2) {

    position: absolute;
    top: 2em;
    left: 2em;

    display: none;

    background: radial-gradient(circle 500px at 50% 50%,
            rgb(90, 90, 136) 0%,
            lightblue 22%);
    box-shadow: 0 0 20px white;
    list-style-type: none;
    border-radius: 50%;
    z-index: 0;

}




/* Bron:https://codepen.io/jpbarth/pen/VyyegV  */


/* t-shirt */