body{
  display: flex;
  /* background: rgb(131,58,180); */
  /* background: linear-gradient(
      
       rgba(131,58,180,1) ,
       rgba(253,29,29,1) , 
       rgba(252,176,69,1) ); */

 background: repeating-radial-gradient(
     ellipse 80% 100% at 48% 63%,
      #c7eafd 0%,
      #e8198b 100%);

  height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;  
}





h1{
    position: fixed;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

/* control panel */
body > section:nth-of-type(1){
    /* background-color: blue; */

   
    position: absolute;
    left: 4vmin;
    bottom:30vmin;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  


/* input {
    appearance: none;
    font: inherit;
    margin: 0;

    width: 4em;
    height: 4em;
    
    margin: .5em;
    
    border-radius: 50%;
    background-color: white;
} */

}


body > section:nth-of-type(1) input{
 
    appearance: none;
    font: inherit;
    margin: 0;

    width: 4em;
    height: 2em;
    margin: .5em;
    
    border-radius: 50%;
    /* background-color: white; */
  
}

body > section:nth-of-type(1) input[value="geel"]{
    background-color: yellow;

    
}

body > section:nth-of-type(1) input[value="roze"]{
    background-color:pink;
}

body > section:nth-of-type(1) input[value="rood"]{
    background-color: red;
}

body > section:nth-of-type(1) input[value="blauw"]{
    background-color:blue;
}


body > section:nth-of-type(1) input:checked{
        background-color: grey;
  

    }



 article > div{
        position: absolute;
        top: 11em;
    
        width: 12em;
        height: 8em;
       
        border-radius: 40%;
        box-shadow: ;
        background-color: blue;
        z-index: 10;
    
       
        -webkit-clip-path:
        polygon(20% 0%, 80% 0%, 100% 84%, 0 84%);
        clip-path:
        polygon(20% 0%, 80% 0%, 100% 84%, 0 84%);
    
        /* Bron: https://easycodetools.com/tool/cssclippath-generator */
    
/* &has(input[value="geel"]:checked){
    background-color: yellow;
} */


 } 
  
 


html:has(input[value="geel"]:checked) article > div {
    background-color: hsl(56, 100%, 82%);
    
}

html:has(input[value="roze"]:checked) article > div {
    background-color: pink;
}

html:has(input[value="rood"]:checked) article > div {
    background-color: red;
}

html:has(input[value="blue"]:checked) article > div {
    background-color: blue;
}



/* hele hello kitty  */
article{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* oren */
header, nav{
    width: 100px;
    height: 90px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -30px;
}

/* linker oor */
header{
    left: 5px;

    transform: rotate(-20deg);
    /* border: 2px solid black; */
    border-radius:53% 46% 15% 10% / 86% 88% 13% 13% ;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);

}
/* rechter oor */
nav{
    right: 0px;
    transform: rotate(20deg);
    /* border: 2px solid black; */
    border-radius:53% 46% 15% 10% / 86% 88% 13% 13% ;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);

}

/* hoofd */
article > section:first-of-type{
    width: 270px;
    height: 180px;
    /* aspect-ratio: 3/2; */
   border-radius: 50% / 60%;
    background: white;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* ogen */
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    top: 70px;
}

ul li{
    width: 20px;
    height: 30px;
    background: black;
    border-radius: 50%;
}

/* neus */
article > section:first-of-type section:nth-of-type(1){
    width: 37px;
    height: 19px;
    background: gold;
    /* border: 2px solid black; */
    /* display: flex; */
    position: absolute;
    top: 110px;
    border-radius: 50%;

}

/* snorharen */
section section{
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}

section section span{
    width: 45px;
    height: 3px;
    background: black;
    position: absolute;
}

/* snorharen per stuk */
section section span:nth-of-type(1){
    left: -150px;
    top: -20px;
    transform: rotate(5deg);
}

section section span:nth-of-type(2){
    left: -150px;
    transform: rotate(-1deg);
    top: 5px;
}

section section span:nth-of-type(3){
    left: -150px;
    top: 30px;
    transform: rotate(-10deg);
}

section section span:nth-of-type(4){
    right: -150px;
    top: -20px;
    transform: rotate(-5deg);
}

section section span:nth-of-type(5){
    right: -150px;
    top: 5px;
    transform: rotate(-1deg);
}

section section span:nth-of-type(6){
    right: -150px;
    top: 30px;
    transform: rotate(10deg);
}

/* strik */
aside{

    position: absolute;
    top:-5px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: red;
 
    border-radius: 50%;
    /* box-shadow: inset 0 -4px 6px rgba(0, 0, 0.2); */
}

aside::before,
aside::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 60px;
    background: red;
    /* box-shadow: inset 0 -4px 6px rgba(0, 0, 0.2); */

    /* border-radius:21% 70% 64% 20% / 40% 53% 45% 38% ;    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2); */
}

aside::before{
    left: -45px;
    top:-20px;
    transform: rotate(5deg);
    border-radius:21% 70% 64% 20% / 40% 53% 45% 38% ;;
}

aside::after{
  right: -45px;
  top: -5px;
  transform: rotate(15deg);
  border-radius:69% 16% 36% 58% / 52% 22% 28% 44% ;
}


/* lichaam */
article > section:nth-of-type(2){
      width: 160px;
      height: 120px;
      background:white;
      border-radius: 30% 30% 0 0;
      /* border-radius:30% 28% 10% 10% / 73% 76% 10% 10% ;  */
      box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
 
    }

/* voeten */
footer{
    position: absolute;
    width: 70px;
    height: 55px;
    background: white;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);

  
}

footer:nth-of-type(1){
    top: 300px;
    left: 60px;
    border-radius: 0 0 30% 30%;
}


footer:nth-of-type(2){
    top: 300px;
    right: 60px;
    border-radius: 0 0 30% 30%;
}


/* armen */
label{
    position: absolute;
    width: 50px;
    height: 70px;
    background: white;
}

label:nth-of-type(1) {
    top: 200px;
    left: 10px;
    border-radius:75% 0% 10% 46% / 85% 81% 10% 24% ;
 
}

label:nth-of-type(2) {
    top: 200px;
    right: 10px;
    border-radius:0% 58% 71% 0% / 10% 54% 24% 0% ;
}


/* jurkje */




/* wereldbol */
body > div:nth-of-type(1){
    width: 250px;
    height: 250px;
    
    

    margin: auto;

    position: absolute;
    top: 36em;
    /* left: 5em; */
    /* margin-top: 140px; */
    background-color: white ;
    border-radius:50% ;

    box-shadow: 
    inset 0 0 50px #fff,
    inset 20px 0 60px green,
    inset -20px 0 60px blue,
    inset 20px 0 300px green,
    inset -20px 0 300px blue,
      0 0 50px #fff,
      -10px 0 60px green,
      10px 0 60px blue;    
   
}

/* checkbox voor light en dark */
body > section:nth-of-type(2){

}


body > section:nth-of-type(2) input{
    appearance: none;
    font: inherit;
    margin:0;

    width: 5em;
    height: 3em;

}


/* Bron:https://codepen.io/jpbarth/pen/VyyegV  */


/* t-shirt */
